<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <nav>
        <a href="/Contact">Contact</a>
        <a href="/Blog">Blog</a>
    </nav>
    <img src="{{url_for('static', filename='home_banner.png')}}">
    <h2>Hi, below couple words about me and this blog</h2>
    <p>
        This blog will store and share my favorite characters from any universe - games, serials, movies, books, toys.
        Plus, I like coding, so this is a good excuse to combine business with pleasure. I grew up in the 90's watching almost all animated series and action movies
        available on TV/VHS. I played on Nes, Pegasus, PSX, PS2, PS3, Switch, PC and of course GameBoy Pocket.
        I hope it will be nice to remind me of all the wonderful stories from the past when I was young during
        creating this website. Titles that I have been watching/playing recently will also appear.
    </p>
    <p>
        This will be similar to a blogging convention. Entries may contain, for example, a single character from a movie or game,
        others may focus on an entire series, etc. What I mean is that there won't be a stiff pattern.

        Perhaps you will come across an interesting staff that you did not know or have already forgotten.
    </p>
    <h3>Enjoy!</h3>
    <br>
    <p>
        PS Sorry for syntax or grammtical error (if there will be)
    </p>
</body>
</html>